ul.album__template-list#template-album

template#mytemplate-album(sytle='display:none')
  li.album__item
    .album__header
      img.album__image(src="" alt="album image")
      span.album__content-inner.album__content-comments
      span.album__content-inner.album__content-like
    .album__footer
      span.album__name
